.card {
    width: 100%;
    margin: 15px auto;
    text-align: center;
}

.card__label {
    font-size: 32px;
    font-weight: bold;
    margin-top: 50px;
}

.card__label::after {
    content: '';
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid #eeeeee;
}
