/* Jumbotron */

.hero {
  display: flex;
	align-items: center;
	min-height: 480px;
	width: auto;
  height: 500px;
	justify-content: center;
	background-position: center;
  background: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url("/src/public/images/hero-image_2.jpg") repeat center;
}

.hero_inner {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    background-size: cover;
    height: 80vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-position: center;
    position: absolute;
}

.hero_title {
    color: #EAEAEA;
    font-weight: 600;
    font-size: 36px;
    text-shadow: 1px 1px #141414;
}

.hero_tagline {
    color: #EAEAEA;
    margin-top: 16px;
    margin-bottom: 16px;
    text-shadow: 1px 1px #141414;
    font-size: 18px;
    font-weight: 600;
}
